.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 16px;

  a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid gray;
    cursor: pointer;
  }
}

.paginationActive a {
  color: white !important;
  background-color: grey;
}
