.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 16px;

  a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid gray;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .paginationBttns {
      font-size: 14px;
    }

    .paginationBttns a {
      margin: 0 5px;
    }
  }
}

.paginationActive a {
  color: white;
  background-color: grey;
}
