.productCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-family: "Roboto", sans-serif;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    row-gap: 50px;
  }
}

.productCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 23px;
}

@media screen and (max-width: 800px) {
  .productCardDetails {
    font-size: 20px;
  }
}

.productCardName {
  color: rgba(51, 123, 255, 0.884);
}

.productCardImage {
  height: 60vh;
  border-radius: 10px;
  width: 280px;

  @media screen and (max-width: 600px) {
    width: 60%;
  }

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;

    @media screen and (max-width: 600px) {
      transform: scale(1);
    }
  }
}
