.footer-dark {
  padding: 50px 0 20px 0;
  color: #fff;
  background-color: rgb(73, 73, 73);
  font-family: "Roboto";
  font-size: 16px;
  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

  ul {
    list-style: none;

    & a {
      color: #fff;
      opacity: 0.75;

      &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  p {
    color: #fff;
    opacity: 0.75;
  }

  .item.social {
    text-align: center;
    > a {
      font-size: 20px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
      margin: 0 8px;
      color: #fff;
      opacity: 0.75;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .copyright {
    color: #fff;
    text-align: center;
    opacity: 1;
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px 0;
  }
}

@media (max-width: 991px) {
  .footer-dark {
    .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .footer-dark {
    .item {
      &:not(.social) {
        text-align: center;
        padding-bottom: 20px;
      }
    }
    .item.text {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .footer-dark {
    .copyright {
      padding-top: 24px;
    }
  }
}
