.card-media {
  position: relative;
}

.typography {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    visibility: visible;
  }
  & Button {
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 25%;
    opacity: 0.7;
    visibility: hidden;

    @media screen and (max-width: 400px) {
      fontsize: 12px;
    }
  }
}
