.card-media {
  position: relative;
  padding: 0;

  & Button {
    position: absolute;
    border-radius: 5px;
    top: 40%;
    left: 25%;
    opacity: 0.7;
    display: none;
  }
}

.card-container {
  background-color: palegreen;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px 0 15px;
}
