.card-media {
  position: relative;
  height: 380px;
  width: 300px;
  padding: 0;

  &:hover {
    background-color: aliceblue;

    Button {
      display: block;
    }
  }

  .card-image {
    height: 88%;
    width: 100%;
  }

  & Button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 10px 15px;
    display: none;

    @media screen and (max-width: 950px) {
      font-size: 10px;
    }

    @media screen and (max-width: 800px) {
      display: block;
    }

    @media screen and (max-width: 630px) {
      font-size: 9px;
    }

    @media screen and (max-width: 400px) {
      font-size: 7px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  padding: 10px 10px 20px 10px;

  @media screen and (max-width: 800px) {
    font-size: 14px;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
    padding: 13px 5px;
    font-weight: bold;
  }
}
