.search input {
  width: 350px;
  height: 35px;
  color: black;
  position: relative;
}

.searchIcon {
  position: absolute;
  margin-top: -7.5%;
  margin-left: 92%;
}

input:focus {
  outline: none;
}

.dataResult {
  width: 100%;
  height: 255px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.dataResult .dataItem {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

.searchImage {
  width: 60px;
  height: 60px;
  display: block;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .search input {
    width: 250px;
  }

  .searchImage {
    width: 45px;
    height: 45px;
  }

  .searchIcon {
    margin-top: -10.5%;
    margin-left: 90%;
  }
}

@media screen and (max-width: 700px) {
  .search input {
    height: 30px;
  }

  .searchIcon {
    margin-top: -9.6%;
  }
}

@media screen and (max-width: 500px) {
  .searchIcon {
    margin-top: -9.5%;
  }
}

@media screen and (max-width: 400px) {
  .searchIcon {
    margin-top: -12%;
  }
}
