.search input {
  width: 350px;
  height: 35px;
  color: black;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
}

input:focus {
  outline: none;
}

.dataResult {
  width: 100%;
  height: 170px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  display: block;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .search input {
    width: 250px;
  }

  .search {
    margin-top: -50px;
  }
  .searchIcon {
    margin-top: -30px;
  }
}

@media screen and (max-width: 500px) {
  .search input {
    width: 200px;
  }

  .search {
    margin-top: -55px;
  }
  .searchIcon {
    margin-top: -35px;
  }
}

@media screen and (max-width: 400px) {
  .search input {
    height: 25px;
    width: 150px;
  }

  .searchIcon {
    left: 90%;
  }
}
