.search input {
  width: 350px;
  height: 35px;
  color: black;
  position: relative;
}

input:focus {
  outline: none;
}

.dataResult {
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 255px;
  background-color: white;
  color: rgb(247, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.dataResult .dataItem {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

.searchImage {
  width: 50px;
  height: 50px;
  display: block;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .dataResult,
  .search input {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .dataResult,
  .search input {
    width: 200px;
  }

  .search input {
    padding: 0 10px;
  }

  .search {
    padding: 5px 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .dataResult,
  .search input {
    width: 170px;
  }

  .dataResult .dataItem {
    font-size: 12.5px;
  }
}
