@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;500&family=Roboto:wght@100;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
